<div class="well bg-warning">
  <h2>Registration as new member</h2>

  <p>When you register (by clicking on the green "Free Registration" button) you are only allowed to play in ROCK
    tourneys NOT in RBD.</p>

  <h2>Promotion to RBD</h2>

  <p>Every month a number of players are promoted to RBD. To get promoted you must have played at least 10 tournaments
    in the last month and have an average score of 50%.</p>
</div>

<div class="home-winners home-window">
  <h1>Our winners of the last month</h1>

  <div>
    <div id="home-winners-rock" class="col-md-5 col-sm-6"></div>
    <div id="home-winners-rbd" class="col-md-5 col-md-offset-1 col-sm-6"></div>
  </div>
</div>

<div class="clearfix"></div>

<div class="home-tournaments home-window">
  <h1>Our latest tournaments</h1>

  <div id="home-tournaments">
    <table class="table">
      <tbody>
      {{#each items}}
        <tr>
          <td>{{formatDate date}}</td>
          <td>{{name}}</td>
          <td><a href="{{resultsUrl}}" title="{{name}} results">results</a></td>
          <td><a href="{{boardsUrl}}" title="{{name}} boards">boards</a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix"></div>
