<h1>{{#if isNew}}Create{{else}}Edit{{/if}} member {{> displayBboName}}</h1>

<form role="form">
  <div class="form-group col-md-8">
    <label for="member-bboName" class="control-label">BBO nickname</label>
    <input id="member-bboName" name="bboName" width="20" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-name" class="control-label">Name</label>
    <input id="member-name" name="name" width="20" type="text" class="form-control" placeHolder="Enter name" value="{{name}}"/>
  </div>
  {{#if isNew}}
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-password" class="control-label">BBO Fans Password <strong>(this should NOT be the same as your BBO password!)</strong></label>
    <input id="member-password" name="password" type="password" class="form-control" placeHolder="Enter password" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-repeatPassword" class="control-label">Re-enter BBO Fans password</label>
    <input id="member-repeatPassword" name="repeatPassword" type="password" class="form-control" placeHolder="Enter password again" />
  </div>
  {{/if}}
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-email" class="control-label">Emails</label>
    {{#each emails}}
      {{#if @first}}
    <input id="member-email-{{@index}}" name="email[{{@index}}]" width="20" type="email" class="form-control member-email" placeHolder="Enter Email" value="{{this}}" data-index="{{@index}}"/>
      {{else}}
    <div class="input-group">
      <input id="member-email-{{@index}}" name="email[{{@index}}]" width="20" type="email" class="form-control member-email" placeHolder="Enter Email" value="{{this}}" data-index="{{@index}}"/>
      <span class="input-group-btn">
        <button id="member-remove-email-{{@index}}" type="button" class="btn btn-default member-remove-email" aria-label="Left Align" data-index="{{@index}}" title="Remove Email">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </span>
    </div>
      {{/if}}
    {{/each}}
    <button id="member-add-email" type="button" class="btn btn-default" aria-label="Left Align" title="Add Email">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-telephone" class="control-label">Telephone</label>
    {{#each telephones}}
      {{#if @first}}
    <input id="member-telephone-{{@index}}" name="telephone[{{@index}}]" width="20" type="email" class="form-control member-telephone" placeHolder="Enter Telephone" value="{{this}}" data-index="{{@index}}"/>
      {{else}}
    <div class="input-group">
      <input id="member-telephone-{{@index}}" name="telephone[{{@index}}]" width="20" type="email" class="form-control member-telephone" placeHolder="Enter Telephone" value="{{this}}" data-index="{{@index}}"/>
      <span class="input-group-btn">
        <button id="member-remove-telephone-{{@index}}" type="button" class="btn btn-default member-remove-telephone" aria-label="Left Align" data-index="{{@index}}" title="Remove Telephone">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </span>
    </div>
      {{/if}}
    {{/each}}
    <button id="member-add-telephone" type="button" class="btn btn-default" aria-label="Left Align" title="Add Telephone">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-5">
    <!-- Countries are loaded at runtime from /countries -->
    <label for="member-nation" class="control-label">Country</label>
    <select id="member-nation" name="nation" class="form-control" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="member-level" class="control-label">Skill level</label>
    <select id="member-level" name="level" class="form-control">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
      <option>Expert</option>
      <option>Champion</option>
      <option>World Class</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="member-role" class="control-label">Role</label>
    <select id="member-role" name="role" class="form-control">
      <option value="admin">Admin</option>
      <option value="blacklist manager">Blacklist Manager</option>
      <option value="td manager">TD Manager</option>
      <option value="td">Tournament Director</option>
      <option value="member">Member</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div id="member-td" class="panel panel-default">
    <div class="panel-heading">Tournament Director Information</div>
    <div class="panel-body">
      <div class="form-group col-md-3">
        <label for="member-skill" class="control-label">Skill</label>
        <select id="member-skill" name="skill" class="form-control">
          <option value="Head TD">Head TD</option>
          <option value="Tournament TD">Tournament TD</option>
          <option value="Co TD">Co TD</option>
          <option value="BBO TD">BBO TD</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-8">
        <label for="member-h3am" class="checkbox-inline">
          <input type="checkbox" id="member-h3am" name="h3am" {{#if h3am}}checked{{/if}} /> 3AM
        </label>
        <label for="member-h7am" class="checkbox-inline">
          <input type="checkbox" id="member-h7am" name="h7am" {{#if h7am}}checked{{/if}} /> 7AM
        </label>
        <label for="member-h11am" class="checkbox-inline">
          <input type="checkbox" id="member-h11am" name="h11am" {{#if h11am}}checked{{/if}} /> 11AM
        </label>
        <label for="member-h3pm" class="checkbox-inline">
          <input type="checkbox" id="member-h3pm" name="h3pm" {{#if h3pm}}checked{{/if}} /> 3PM
        </label>
        <label for="member-h7pm" class="checkbox-inline">
          <input type="checkbox" id="member-h7pm" name="h7pm" {{#if h7pm}}checked{{/if}} /> 7PM
        </label>
        <label for="member-h11pm" class="checkbox-inline">
          <input type="checkbox" id="member-h11pm" name="h11pm" {{#if h11pm}}checked{{/if}} /> 11PM
        </label>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-10">
        <label for="member-info" class="control-label">Info</label>
        <textarea id="member-info" class="form-control" name='info' rows="3">{{info}}</textarea>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="form-group col-md-10">
    <label for="member-notes" class="control-label">Notes</label>
    <textarea id="member-notes" class="form-control" name='notes' rows="5">{{notes}}</textarea>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-isStarPlayer" class="checkbox-inline">
    <input type="checkbox" id="member-isStarPlayer" name="isStarPlayer" {{#if isStarPlayer}}checked{{/if}} /> Star Player
    </label>
    <label for="member-isRbdPlayer" class="checkbox-inline">
    <input type="checkbox" id="member-isRbdPlayer" name="isRbdPlayer" {{#if isRbdPlayer}}checked{{/if}} /> RBD Player
    </label>
    <label for="member-isEnabled" class="checkbox-inline">
    <input type="checkbox" id="member-isEnabled" name="isEnabled" {{#if isEnabled}}checked{{/if}} /> Enabled
    </label>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-isBlackListed" class="checkbox-inline">
    <input type="checkbox" id="member-isBlackListed" name="isBlackListed" {{#if isBlackListed}}checked{{/if}} disabled /> Blacklisted
    </label>
    <label for="member-isBanned" class="checkbox-inline">
    <input type="checkbox" id="member-isBanned" name="isBanned" {{#if isBanned}}checked{{/if}} disabled /> Banned
    </label>
  </div>
  <div class="clearfix"></div>

  <hr />
  <div class="form-group col-md-12 text-right">
    <button class="btn form-cancel" data-dismiss="modal">Cancel</button>
    {{#unless validatedAt}}
    <button class="btn form-validate">Validate</button>
    {{/unless}}
    <button class="btn btn-defaul btn-primary form-submit">Save</button>
  </div>
  <div class="clearfix"></div>
</form>
