<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ronald van uffelen">
    <link rel="icon" href="favicon.ico">

    <title>B.B.O. Fans</title>

    <link rel="stylesheet" type="text/css" href="/css/BBOFans.css">
  </head>

  <body>
    <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content" id="bbofans-popup">
        </div>
      </div>
    </div>
    <div id="bbofans-container">{{{body}}}</div>
{{#if user}}
    <script type="text/javascript">
        var bbofansUser = {
          username: "{{user.username}}",
          isMemberManager: {{user.isMemberManager}},
          isBlacklistManager: {{user.isBlacklistManager}},
          isTdManager: {{user.isTdManager}},
          isUserManager: {{user.isUserManager}}
        };
    </script>
{{/if}}
    <script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="/js/BBOFans.js"></script>
  </body>
</html>
