<h1>Modify account</h1>

<form class="form-horizontal" role="form">
  <div class="form-group col-md-8">
    <label for="account-bboName" class="control-label">BBO nickname</label>
    <input id="account-bboName" name="bboName" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}" disabled />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="account-name" class="control-label">Name</label>
    <input id="account-name" name="name" type="text" class="form-control" placeHolder="Enter name" value="{{name}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="account-email" class="control-label">Email</label>
    {{#each emails}}
      {{#if @first}}
    <input id="account-email-{{@index}}" name="email[{{@index}}]" width="20" type="email" class="form-control account-email" placeHolder="Enter Email" value="{{this}}" data-index="{{@index}}"/>
      {{else}}
    <div class="input-group">
      <input id="account-email-{{@index}}" name="email[{{@index}}]" width="20" type="email" class="form-control account-email" placeHolder="Enter Email" value="{{this}}" data-index="{{@index}}"/>
      <span class="input-group-btn">
        <button id="account-remove-email-{{@index}}" type="button" class="btn btn-default account-remove-email" aria-label="Left Align" data-index="{{@index}}" title="Remove Email">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </span>
    </div>
      {{/if}}
    {{/each}}
    <button id="account-add-email" type="button" class="btn btn-default" aria-label="Left Align" title="Add Email">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="account-telephone" class="control-label">Telephone</label>
    {{#each telephones}}
      {{#if @first}}
    <input id="account-telephone-{{@index}}" name="telephone[{{@index}}]" width="20" type="email" class="form-control account-telephone" placeHolder="Enter Telephone" value="{{this}}" data-index="{{@index}}"/>
      {{else}}
    <div class="input-group">
      <input id="account-telephone-{{@index}}" name="telephone[{{@index}}]" width="20" type="email" class="form-control account-telephone" placeHolder="Enter Telephone" value="{{this}}" data-index="{{@index}}"/>
      <span class="input-group-btn">
        <button id="account-remove-telephone-{{@index}}" type="button" class="btn btn-default account-remove-telephone" aria-label="Left Align" data-index="{{@index}}" title="Remove Telephone">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </span>
    </div>
      {{/if}}
    {{/each}}
    <button id="account-add-telephone" type="button" class="btn btn-default" aria-label="Left Align" title="Add Telephone">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-5">
    <!-- Countries are loaded at runtime from /countries -->
    <label for="account-nation" class="control-label">Country</label>
    <select id="account-nation" name="nation" class="form-control" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="account-level" class="control-label">Skill level</label>
    <select id="account-level" name="level" class="form-control">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
      <option>Expert</option>
      <option>Champion</option>
      <option>World Class</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-4">
    <label for="account-isStarPlayer" class="control-label">
      <input type="checkbox" id="account-isStarPlayer" name="isStarPlayer" {{#if isStarPlayer}}checked{{/if}} />
      Star Player
    </label>
  </div>
  <div class="clearfix"></div>

  <hr />

  <div class="form-group col-md-12 text-right">
    <button class="form-reset btn">Reset</button>
    <button class="form-cancel btn">Cancel</button>
    <button class="form-submit btn btn-primary">Save</button>
  </div>
  <div class="clearfix"></div>
</form>
